{% extends "dashboard.html" %}
    
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<style>
      .table {
    border-collapse: collapse;
 width: 100%;
}
.table td,
.table th {
 border: none!important;
 border-bottom: 1px solid #E2E8F0 !important;
 padding: 10px 8px !important;
 
}

table.table tbody tr.selected {
 background-color: #f5f4f4;
}

.table tr:hover {
 background-color: #e9e9e9 !important;
}

.table th {

 background: #ffffff;
 color: #171717;
 font-weight: 600 !important;
 text-align: left !important;
 border-bottom: 1px solid #E2E8F0 !important;
 font-size: 0.88rem;
}
.dataTables_wrapper .dataTables_filter input {
 border: 1px solid #D9D9D9!important;
 border-radius: 6px!important;
 padding: 5px;
 background-color: transparent!important;
 margin-left: 12px!important;
 margin-bottom: 18px!important;
}
.dataTable .no-footer .table .table-striped> tr> th, td {
 border: 0!important;
 vertical-align: middle;
}

</style>
{% endblock %}

{% block user_page %}

<main class="container-fluid">
 <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left py-3 px-4">
    <div class="text-dark">
        <h1 class="h3 text-primary">View Product</h1>
        <div>
            <table id="product_table" class="table-responsive-sm border-0 dataTable no-footer table table-bordered table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th>Product ID</th>
                    <th>Product Title</th>
                    <th>Product Categtory</th>
                    <th>Product Desc</th>
                    <th>Created By</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="table_body" class=""></tbody>
              </table>

        </div>        
        
    </div>
</main>
<button id="rndfk" type="button" class="d-none " data-toggle="modal" data-target="#product_update_model">
    Open Modal
  </button>
<div class="modal fade " id="product_update_model" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="product_update_modelLabel">Edit Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="jumbotron-fluid px-4">
                <div class="text-dark">
                   
                    <div class="row">
                        <div class="col-md-4">
                            <label class="mb-1">Product Image</label>
                            <div class="py-2">
                                <div class="">
                                    <img id="product_icon" class="img-fluid" src="https://dl5hm3xr9o0pk.cloudfront.net/instagram/p-details-big.jpg" style="max-width: 76%;">
                                </div>
                            </div>
                            <input type="file" class="py-3" id="ProductImageUploader">
                        </div>
                        <div class="col-md-4">
                            <label class="mb-2">Product Name *</label>
                            <input id="product_name" class="form-control" type="text" required>
                            <label class="mb-2">Product Price *</label>
                            <input id="product_price" class="form-control" type="number">
                            <label class="mb-2">Product Category *</label>
                            <div class="p-0 w-100 m-0">
                                
                                    <select class="form-control" id="mycategory">
                                        <option value="0">Fast Food</option>
                                        <option value="1">Bevergars</option>
                                        <option value="3">Sandwitches</option>
                                    </select>
                                
                                
                            </div>
                            <label class="mb-2">Product Description</label>
                            <textarea id="product_desc" draggable="false" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="col-md-4">
                            <label class="">Custom Fields</label>
                            <div id="app" style="margin-bottom: 4.5em;">
                                <form @submit.prevent="submitForm" id="customfieldForm">
                                    <div class="my-1 CustomFields" v-for="(field, index) in fields" :key="field.fieldId">
                                        
                                        <div class="align-items-center d-flex">
                                            <label class="m-0 pr-3 label_title text-capitalize">$[[ field.fieldName ]]:</label>
                                            <input class="bg-white label_value border fieldName form-control shadow-none" :value="field.typePrice" />
                                            <button @click="removeField(field.fieldId)" class="btn form-control h-100 text-danger w-auto"><i class="bx bx-trash h3 m-0 p-0"></i></button>
                                        </div>
                                    </div>
                                    <div class="m-0 row w-100 my-2">
                                        <div class="col-9 d-flex p-0">
                                            <input type="text" placeholder="Label Name*" class="bg-white border fieldName form-control m-0 py-4 shadow-none" v-model="fieldName">
                                            <input type="number" placeholder="Price*" class="bg-white border fieldName form-control m-0 py-4 shadow-none" v-model="fieldPrice">
                                        </div>
                                        <div class="align-items-center col-3 d-flex p-0 px-1 "><button type="button" @click="addField" class="btn btn-outline-secondary h-100 m-0"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div> </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeCate" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="update_product" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block javascript %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script>
    $(document).ready(function() {
       
        // Call the function to load categories when the document is ready
        loadCategories();
        
        });
        getalldata();
        function getalldata(){
           
            myshowLoader();
            axios({
                method:'GET',
                url: baseUrl + '/product/get/all'
            }).then(res => {
                let data = res.data;
                console.log("data", data);

                // Clear existing rows in the DataTable
                var dtable = $('#product_table').DataTable({                   
                    "pageLength": 14,"lengthChange": false
                });
                dtable.clear().draw();

                // Add new rows

                $.each(data, function (i, item) {
                    dtable.row.add([
                        `PDT#${item[0]}`,
                        item[1], 
                        item[2], 
                        item[3], 
                        item[4],  
                        `<button id="updatebtn" data-id="${item[0]}" class="border btn"><i class="fa fa-pen text-center text-success"></i></button><button id="deletebtn"  data-id="${item[0]}" class="border btn text-danger"><i class="fa fa-trash text-center"></i></button>`
                    ]).draw(false);
                
                });
               
                myhideLoader();
            
            }).catch(err => {
            myhideLoader();
            showToastMessage('error', 'Something Went Wrong!')
            
            });
        }
        
    </script>
<script src="https://unpkg.com/petite-vue"></script>
<script>
    PetiteVue.createApp({
        fields: [],
        fieldCounter: 0, // To generate unique fieldIds
        fieldName: '',
        fieldPrice: '',
        addField() {
            if (this.fieldName === '' || this.fieldPrice === '') {
                return;
            }
            this.fieldCounter++;
            this.fields.push({
                fieldId: this.fieldCounter,
                fieldName: this.fieldName,
                typePrice: this.fieldPrice
            });
            this.fieldName = '';
            this.fieldPrice = ''; 
        },
        removeField(fieldId) {
            const indexToRemove = this.fields.findIndex(field => field.fieldId === fieldId);
            if (indexToRemove !== -1) {
                this.fields.splice(indexToRemove, 1);
            }
        },
        submitForm() {
            console.log(this.fields);
        },
        $delimiters: ['$[[', ']]']
    }).mount('#app');
</script>
{% endblock %}
