<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>add project</title>
</head>
<body>
{% extends "base.html" %}

{% block user_page %}
<div class="Add_hour_title">
    <h1>Facebook Group/Page</h1>
</div>


<div class="jumbotron py-5">
    <div class="m-0 row text-center w-100">
    <div class="col-md-3">
       <div class="border border-right p-4 shadow-lg">
        <a href="#" class="fa fa-facebook"></a>
        <h3 class="my-3">Facebook </h3><h3 class="my-3">Group/Page</h3>
        <!-- <input type="submit" value="Connect" id="fb_submit">    -->
        <button type="submit" id="fb_submit"> 
            {% block link %}        
            <a href="{{ fb_link }}">Connect</a>
            {% endblock %}        
        
        </button> 
    </div></div>   
    
    <div class="col-md-3">
        <div class="border border-right p-4 shadow-lg">
        <a href="#" class="fa fa-instagram"></a>
        <h3 class="my-3">Instagram</h3>
        <h3 class="my-3">Bussiness Page</h3>
        <button type="submit" id="fb_submit"> 
            {% block link2 %}        
            <a href="{{ fb_link }}">Connect</a>
            {% endblock %}
        </button> 
        </div>
    </div>
    <div class="col-md-3">
        <div class="border border-right p-4 shadow-lg">
        <a href="#" class="fa fa-twitter"></a>
        <h3 class="my-3">Twitter</h3><h3 class="my-3">Profile</h3>  
        <button type="submit" id="fb_submit"> 
        {% block link3 %}        
        <a href="{{ tw_link }}">Connect</a>
        {% endblock %}
            
            </button> 
        </div>
    </div>
    <div class="col-md-3">
        <div class="border border-right p-4 shadow-lg">
        <a href="#" class="fa fa-linkedin"></a>
        <h3 class="my-3">LinkedIn </h3><h3 class="my-3">Profile/Page</h3>  
        <button type="submit" id="fb_submit"> 
                    
            {% block link4 %}        
            <a href="{{ ld_link }}">Connect</a>
            {% endblock %}
        </button> 
        </div>
    </div>
    </div></div>


{% endblock %}
</body>
</html>