<!DOCTYPE html>
<html>

<head>
	<title>Bar B Tonight Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css') }}">
	<script src="https://kit.fontawesome.com/3a44b96126.js" crossorigin="anonymous"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<style>
		.loader-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(0 0 0 / 56%);
			display: none;
			align-items: center;
			justify-content: center;
			z-index: 99999;
		}

		.loader {
			border: 5px solid #f3f3f3;
			border-top: 5px solid #3498db;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			animation: spin 1s linear infinite;
		}

		.modal-header {
			.close {
				margin-top: -1.5rem;
			}
		}

		.form-title {
			margin: -2rem 0rem 2rem;
		}

		.subscribe-form {
			margin: 0rem 0rem 1rem;
		}
	</style>


</head>

<body>
	<div class="loader-wrapper">
		<div class="loader"></div>
	</div>
	
	<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="main">
						<div class="bg-white h-100 p-2 shadow single_Menu">
							<div class="m-0 p-0 p-1">
								<div class="border-0">
									<img id="myMenuimage" src="https://dl5hm3xr9o0pk.cloudfront.net/instagram/Beef-Seekh-Kabab.jpg">
								</div>
								<div class=" m-0 row">
									<div class="col-9 py-3">
										<div id="MyTitle" class="font-weight-bold h5 text-capitalize text-dark">Beef Seekh Kabab
										</div>
									</div>
									<div class="col-3 my-3">
										<div class="float-right"><i class="fa fa-heart-o p-2 rounded-circle" aria-hidden="true" style="background: rgb(233, 231, 231);"></i></div>
									</div>

								</div>
								<div id="optionMain" class="">
									<div style="border-radius: 25px;background: rgb(233, 236, 239);" class="d-flex justify-content-between px-2 py-1 py-2">
										<div>Varitions</div>
										<div><i class="bg-secondary fa fa-chevron-down p-1 rounded-circle"></i></div>
									</div>
									<div id="PriceSection">
										<div class="d-flex justify-content-between option px-2 px-4 py-2">
											<div class="font-weight-bold optionTitle text-dark">Small</div>
											<div class="optionPrice">Rs. 1,460</div>
										</div>
										<div class="d-flex justify-content-between option px-2 px-4 py-2">
											<div class="font-weight-bold optionTitle text-dark">Large</div>
											<div class="optionPrice">Rs. 1,960</div>
										</div>
									</div>
								</div>
								<div class="border-top justify-content-between m-0 px-3 py-3 row text-dark">
									<div class="font-weight-bold px-0">Price :</div>
									<div id="mymenuprice" class="font-weight-bold px-0k">Rs. 1,460</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="RamzanMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="main">
						<div class="imagesection">
							<img class="w-100" src="https://dl5hm3xr9o0pk.cloudfront.net/instagram/IMG-20240310-WA0010 (1).jpg">
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<section id="our_menu" class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="d-flex justify-content-center mb-4 p-0 page_title text-center">
						<img src="https://barbqtonight.com/assets/img/bbqtonight.png" class="img-fluid" style="
    max-width: 190px;
">
						<div class="single_line"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">

				</ul>
			</div>
			<div class="row ">
				<div class="tab-content col-lg-12" id="myTabContent">

				</div>
				<a href="#" class="d-none menu_btn btn btn-danger">view more</a>
			</div>
		</div>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		$(document).ready(function () {
			// $('#RamzanMenu').modal('show');
			let baseUrl = new URL(window.location.href);
			baseUrl = `${baseUrl.protocol}//${baseUrl.hostname}:${baseUrl.port}`;
			document.querySelector('.loader-wrapper').style.display = 'flex';
			console.log(baseUrl);
			axios({
				method: 'POST',
				url: baseUrl + '/routes/menudata',

			}).then(res => {
				let data = res.data;
				console.log(data);
				var tabs = {};
				// Group data by category
				data.forEach(function (item) {
					var category = item[2];
					if (!tabs[category]) {
						tabs[category] = [];
					}
					tabs[category].push(item);
				});
				console.log(tabs);
				$.each(tabs, function (category, items) {
					console.log("ok")
					var navPill = $('<li class="nav-item"><a class="nav-link" id="' + category + '-tab" data-toggle="pill" href="#' + category + '" role="tab" aria-controls="' + category + '" aria-selected="true">' + category.replace(/_/g, ' ') + '</a></li>');
					$('#myTab').append(navPill);

					// var tabPane = $('<div class="tab-pane fade" id="' + category + '" role="tabpanel" aria-labelledby="' + category + '-tab"></div>');
					// var content = '';
					const tabcontent = `
				<div class="tab-pane fade show " id="${category}" role="tabpanel" aria-labelledby="breakfast-tab">
						<div class="row">
							
								${items.map(data => `
								<div class="col-xl-2 col-lg-3 col-md-4 h-100 m-0 p-0 px-1 col-sm-6 pb-2 col-6"><div class="bg-white  h-100 p-2 shadow-lg single_menu" data-menuoption='${data[4]}'>
									<div class="m-0 p-0">
										<div class="border-0"><img class="MenuImage" src="${data[0]}"></div>
										<div><div class="text-capitalize font-weight-bold h6 my-3 text-center text-dark MenuTitle">${formatName(data[1])}</div></div>
										<div class="border-top font-weight-bold px-0 py-3 text-center MenuPrice">From Rs. ${data[3]}</div>
									</div>
									</div>
								</div>
								`).join('')}
							
						</div>
				</div>			
				`


					$('#myTabContent').append(tabcontent);
					$('#BBQ_Special').addClass('active');

					$('#BBQ_Special-tab').addClass('active');
					document.querySelector('.loader-wrapper').style.display = 'none';
				});

			}).catch(err => {
				console.error(err);
			});
			function formatName(filename) {

				let nameWithoutExtension = filename.split('.').slice(0, -1).join('.');
				let formattedName = nameWithoutExtension.replace(/-/g, ' ');
				formattedName = formattedName.replace(/\b\w/g, function (char) {
					return char.toUpperCase();
				});

				return formattedName;
			}
			$(document).on('click', '.single_menu', function(){
        console.log("CLICKED!");
		$('#optionMain').addClass('d-none')
        var imgSrc = $(this).find('.MenuImage').attr('src');
        var title = $(this).find('.MenuTitle').text();
        var price = $(this).find('.MenuPrice').text();
        var menuOption = $(this).data('menuoption');
        console.log('Image Source:', imgSrc);
        console.log('Title:', title);
        console.log('Price:', price);
        console.log('Menu Option:', menuOption);
		
		$("#MyTitle").text(title);
		$("#myMenuimage").attr('src',imgSrc);
		$("#mymenuprice").text(price);
		if (menuOption.option && Object.keys(menuOption.option).length > 0) {
            // Create and add options to the div
			$('#PriceSection').html('');
            $.each(menuOption.option, function(optionName, optionPrice) {
				const OptionHtml=`
				<div class="d-flex justify-content-between option px-2 px-4 py-2">
					<div class="font-weight-bold optionTitle text-dark">${optionName}</div>
					<div class="optionPrice">Rs. ${optionPrice}</div>
				</div>	
				`  ; 
				$('#PriceSection').append(OptionHtml);
            });
			$('#optionMain').removeClass('d-none');
        }
		$('#subscribeModal').modal('show');
				
	
	});
		
	});

	</script>
	

</body>

</html>